__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
ENV/
static/uploads/*
!static/uploads/.gitkeep
static/audio_faculty/*
static/audio_student/*
.vscode/
.idea/
*.log
extract_output.txt
speaking_output.txt
